<div class="page-header">
  <h2>Our Listings</h2>
  <h3>We saved our clients ${{#savings-total data}}{{/savings-total}}</h3>
</div>

<div class="row row-eq-height">
  {{#each data as |listing|}}
    <div class="col-ms-6 col-md-4 listing-grid-item">
      {{!-- <div class="listing-grid-item"> --}}
        <figure class="imghvr-flip-horiz">
          {{!-- <div class="img-wrapper"> --}}
          <img class="hvr-img img-responsive" src="https://s3.amazonaws.com/bwarealty/mls/{{listing.mls}}/{{listing.images.[0]}}" >

          {{!-- </div> --}}
          <div class="listing-caption">
            <div class="listing-caption-right col-sm-6">
              <p class="caption-savings">{{#save-label listing.status}}{{/save-label}}${{#savings listing.price}}{{/savings}}</p>
              {{!-- <p class="caption-location">{{listing.city}}, {{listing.state}}</p> --}}
              <p class="caption-type">{{listing.type}}</p>
            </div>
            <div class="listing-caption-left col-sm-6">
              <p class="caption-price">${{listing.price}}</p>
              {{!-- <p class="caption-status">{{listing.status}}</p> --}}
              {{#status-label listing.status}}{{/status-label}}
            </div>
            <div class="clearfix"></div>
          </div>

          <figcaption>

            <div class="listing-caption-left col-sm-6">
              <p class="listing-price">${{listing.price}}</p>
              <p class="listing-status">{{listing.status}}</p>
            </div>

            <div class="listing-caption-right col-sm-6">
              <p class="listing-savings">{{#save-label listing.status}}{{/save-label}}${{#savings listing.price}}{{/savings}}</p>
              <p class="listing-type">{{listing.type}}</p>
            </div>

            <div class="clearfix"></div>

            <div class="listing-caption-left col-sm-12">
              <p class="listing-address">{{listing.address}}<br />
                 {{listing.city}}, {{listing.state}} {{listing.zip}}</p>
              <p class="listing-mls">MLS: {{listing.mls}}</p>
            </div>
            <div class="clearfix"></div>

            <button class="btn btn-theme see-more" type="button" data-mls="{{listing.mls}}">See More</button>

          </figcaption>
        </figure>
      {{!-- </div> --}}
    </div>
  {{/each}}
</div>
