<h2>Our Current Listings</h2>
<div class="row">
  {{#each listings as |listing|}}
    <div class="col-md-4 col-sm-6">
      <div class="listing-grid-item">
        <figure class="imghvr-flip-horiz">
          <div class="img-wrapper">
            <img src="img/mls/{{listing.gsx$mls.$t}}-1.jpg" class="img-responsive">
          </div>
          <div class="listing-caption">
            <div class="listing-caption-left">
              <p class="caption-price">${{listing.gsx$price.$t}}</p>
              <p class="caption-type">{{listing.gsx$type.$t}}</p>
            </div>
            <div class="listing-caption-right">
              <p class="caption-location">{{listing.gsx$city.$t}}, {{listing.gsx$state.$t}}</p>
              <p class="caption-zip">{{listing.gsx$zip.$t}}</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <figcaption>
            <p class="listing-type">{{listing.gsx$type.$t}}</p>
            <p class="listing-price">${{listing.gsx$price.$t}}</p>
            <p class="listing-address">{{listing.gsx$address.$t}}<br />
               {{listing.gsx$city.$t}}, {{listing.gsx$state.$t}} {{listing.gsx$zip.$t}}</p>
            <p class="listing-mls">MLS #: {{listing.gsx$mls.$t}}</p>
            <p class="listing-status">Status: {{listing.gsx$status.$t}}</p><button class="btn btn-theme" type="button">See More</button>
          </figcaption>
        </figure>
      </div>
    </div>
  {{/each}}
</div>

{{!--
  gsx$mls
  gsx$address
  gsx$city
  gsx$county
  gsx$state
  gsx$zip
  gsx$type
  gsx$price
  gsx$status
  gsx$bedrooms
  gsx$bathrooms
  gsx$half_baths
  gsx$year_built
  gsx$heating
  gsx$cooling
  gsx$elementary_school
  gsx$middle_school
  gsx$high_school
  gsx$description
  gsx$images
--}}
