<div class="modal fade detail-modal" id="detail-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="detail-modal-main">{{data.address}}</span><br/>
        <span class="detail-modal-sub">{{data.city}}, {{data.state}} {{data.zip}}</span></h4>
      </div>

      <div class="modal-body">
        <div id="slider" class="flexslider">
          <ul class="slides">
            {{#each data.images as |slide|}}
            <li>
              <img src="img/mls/{{../data.mls}}/{{slide}}" />
            </li>
            {{/each}}
          </ul>
        </div>
        <div id="carousel" class="flexslider">
          <ul class="slides">
            {{#each data.images as |slide|}}
              <li>
                <img src="img/mls/{{../data.mls}}/{{slide}}" />
              </li>
            {{/each}}
          </ul>
        </div>

        <p class="detail-description">{{data.description}}</p>

        <div class="row">
          <div class="detail-group col-sm-6">
            <h4>Home Stats</h4>
            <hr>
            <p><span class="detail-label">Price: </span>${{data.price}}</p>
            <p><span class="detail-label">Type: </span>{{data.type}}</p>
            <p><span class="detail-label">Year Built: </span>{{data.yearbuilt}}</p>
          </div>

          <div class="detail-group col-sm-6">
            <h4>Status</h4>
            <hr>
            <p><span class="detail-label">MLS: </span>{{data.mls}}</p>
            <p><span class="detail-label">Status: </span> {{data.status}}</p>
            <p><span class="detail-label">County: </span>{{data.county}}</p>
          </div>

          <div class="detail-group col-sm-6">
            <h4>Rooms</h4>
            <hr>
            <p><span class="detail-label">Bedrooms: </span>{{data.bedrooms}}</p>
            <p><span class="detail-label">Baths: </span>{{data.bathrooms}}</p>
            {{#hasHalfBaths data.halfbaths}}
              <p><span class="detail-label">Half Baths: </span>{{data.halfbaths}}</p>
            {{/hasHalfBaths}}
          </div>

          <div class="detail-group col-sm-6">
            <h4>Schools</h4>
            <hr>
            <p><span class="detail-label">Elementary: </span>{{data.elementaryschool}}</p>
            <p><span class="detail-label">Middle: </span>{{data.middleschool}}</p>
            <p><span class="detail-label">High: </span>{{data.highschool}}</p>
          </div>

          <div class="detail-group col-sm-6">
            <h4>Heating &amp; Cooling</h4>
            <hr>
            <p><span class="detail-label">Heating: </span>{{data.heating}}</p>
            <p><span class="detail-label">Cooling: </span>{{data.cooling}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
